#counter{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

button{
  padding: 10px 20px ;
  margin: 10px 10px;
  background-color: red;
  border: none;
  outline: none;
}

h1{
  font-size: 35px;
}