/* Basic CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

body{
  background-color: black;
  color: white ;
}

.card{
  background-color: pink;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}
.nav{
  background-color: red;
  border-radius:5px;
  margin: 12px 12px;
  padding: 10px;
}