/* Basic CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

h1{
  position: absolute;
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: rgb(143, 76, 244);
}

.nav div{
  font-size: 15px;
  font-weight: bold;
  display: flex;
  gap: 30px;
  color: white;
  
}